@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Prata&display=swap');

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.redes__sociales {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    background-color: #07629A;
}

.redes__sociales h1 {
    font-size: 21px;
    color: white;
    text-align: justify;
}

.redes__sociales p {
    font-size: 18px;
    text-align: justify;
    color: white;
}

.btn {
    background-color: white;
    color: #07629A;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

.son {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #07629A;
}

.son h1 {
    font-size: 70px;
    margin: 15px;
    color: white;
    text-align: center;
}

.son p {
    font-size: 30px;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    color: black;
}

.img__carrusel {
    width: 50%;
    height: 350px;
    margin: 2% 25% 2%;
}

h1 {
    font-size: 50px;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.propuesta__de__redes {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.caja {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
}

#titulo__propuesta{
    text-align: center;
}

.caja img {
    width: 150px;
    height: 130px;
}

.caja p {
    color: black;
    font-size: 20px;
}

iframe {
    width: 500px;
    height: 300px;
    margin: 10px;
}

.conectivismo {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#conectivismo__titulo{
    text-align: center;
}


.contacto ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.contacto ul li {
    margin: 10px;
    font-size: 20px;
}

.iContacto{
    width: 50px;
    height: 50px;
}

footer{
    text-align: center;
    background: #247DB4;
    padding: 20px;
    color: darkblue;
    font-size: 30px;
}
#contenido, #contenido2, #contenido3{ 
    display: none;
}

#mas{
    text-align: center;
}

.mas__informacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}

.i__mas__informacion{
    width: 300px;
    height: 200px;
    margin: 40px;
}

.mas__informacion p{
    font-size: 20px;
    margin: 30px;
}

.subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}
.subir:hover{
    background-color: #0056b3;
}

/*Tablet*/
@media screen and (max-width: 768px) {
    .menu, .conectivismo, .contenedor{
        display: flex;
        flex-direction: column;
    }
    .img__carrusel {
        height: 250px;
    }

    .son {
        max-width: 768px;
    }

    .propuesta__de__redes, .mas__informacion{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .i__mas__informacion{
        display: none;
    }
}


/*celular*/
@media screen and (max-width: 0) {
    .menu, .propuesta__de__redes, .conectivismo, .contenedor {
        display: flex;
        flex-direction: column;
    }

    .img__carrusel {
        height: 150px;
    }

    .son {
        max-width: 0px;
    }

    .propuesta__de__redes, .mas__informacion{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .i__mas__informacion{
        display: none;
    }
}